site_name: Docs @ MiLaboratories
site_url: https://docs.milaboratories.com/
site_description: "MiXCR documentation portal"
site_author: MiLaboratories Inc
copyright: Copyright &copy; MiLaboratories Inc

theme:
  name: material
  custom_dir: overrides
  logo: assets/logo.svg
  favicon: assets/favicon.png
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: custom/24_moon
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: custom/24_sun
        name: Switch to light mode
# (not all necessary typefaces)
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
  features:
#    - navigation.instant # see https://github.com/squidfunk/mkdocs-material/issues/3797
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
#    - toc.integrate
    - content.tabs.link


repo_url: https://github.com/milaboratory/docs
repo_name: milaboratory/docs
edit_uri: edit/main/docs/

plugins:
  - search:
      lang: en
  - minify:
      minify_html: true
#  - glightbox
  - table-reader

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets:
      # Fails the build if any imports are missing
      check_paths: true
      auto_append: [ ]
      base_path: [ "docs/mixcr/" ]
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - markdown_katex:
      no_inline_svg: True
      insert_fonts_css: True
  #      macro-file: macros.tex
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
      generic: true
#  - toc:
#      toc_depth: 3

extra:
  generator: false
  analytics:
    provider: google
    property: G-2N4Z95ZG08

extra_css:
  - css/extra.css

extra_javascript:
  - javascripts/svg.js
  - javascripts/onload.js
#  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - 'About': mixcr/about.md
  - 'Getting Started':
      - 'Installation': mixcr/getting-started/installation.md
      - 'Using with Docker': mixcr/getting-started/docker.md
      - 'Obtaining and using license key': mixcr/getting-started/milm.md
      - 'First run': mixcr/getting-started/first-run.md
      - 'License': mixcr/getting-started/license.md
      - 'Support': mixcr/getting-started/support.md
  - 'Guides':
      - 'Kits & Protocols':
        - 'MiLaboratories Human IG RNA Multiplex kit': mixcr/guides/milaboratories-human-bcr-rna-multi.md
        - 'MiLaboratories Human TCR RNA Multiplex kit':  mixcr/guides/milaboratories-human-tcr-rna-multi.md
        - 'MiLaboratories Human TCR DNA Multiplex kit':  mixcr/guides/milab-dna-multiplex-tcr.md
        - 'SMARTer Human BCR IgG IgM H/K/L Profiling Kit': mixcr/guides/takara-hsa-bcr.md
        - 'SMARTer Mouse TCR a/b Profiling Kit': mixcr/guides/takara-mmu-tcr.md
        - 'Illumina Ampliseq TCR LR / iRepertoire' : mixcr/guides/iRepertoire.md
        - 'QIAseq Immune Repertoire TCR' : mixcr/guides/qiaseq-tcr.md
        - 'Cellecta AIR':  mixcr/guides/cellecta-air-tcr-bcr.md
        - 'AbHelix BCR': mixcr/guides/abhelix-bcr.md
        - 'BioMed2':  mixcr/guides/biomed2-bcr.md
        - 'NEBNext Immune Sequencing': mixcr/guides/nebnext-bcr.md
      - 'Analysis cases':
        - 'Targeted TCR UMI libraries': mixcr/guides/generic-umi-tcr.md
        - 'Targeted BCR Multiplex libraries': mixcr/guides/generic-multiplex-bcr.md
        - 'Targeted BCR UMI libraries': mixcr/guides/generic-umi-bcr.md
        - 'RNA-Seq data' : mixcr/guides/rnaseq.md
        - 'Immunoglobulin lineage trees reconstruction': mixcr/guides/ig-trees-reconstruction.md
      - 'Special guides':
        - 'Assembling custom reference library': mixcr/guides/create-custom-library.md
        - 'Using external libraries': mixcr/guides/external-libraries.md
  - 'Docs':
      - 'Overview':
        - 'Analysis overview': mixcr/reference/overview-analysis-overview.md
        - 'Presets': mixcr/reference/overview-presets.md
        - 'Mix-in options list': mixcr/reference/overview-mixins-list.md
        - 'Built-in presets': mixcr/reference/overview-built-in-presets.md
      - 'MiXCR':
        - 'analyze': mixcr/reference/mixcr-analyze.md
        - 'align': mixcr/reference/mixcr-align.md
        - 'refineTagsAndSort': mixcr/reference/mixcr-refineTagsAndSort.md
        - 'assemblePartial': mixcr/reference/mixcr-assemblePartial.md
        - 'extend': mixcr/reference/mixcr-extend.md
        - 'assemble': mixcr/reference/mixcr-assemble.md
        - 'assembleContigs': mixcr/reference/mixcr-assembleContigs.md
        - 'export': mixcr/reference/mixcr-export.md
        - 'exportPretty': mixcr/reference/mixcr-exportPretty.md
        - 'exportAirr': mixcr/reference/mixcr-exportAirr.md
        - 'exportReadsForClones': mixcr/reference/mixcr-exportReadsForClones.md
        - 'exportShmTrees': mixcr/reference/mixcr-exportShmTrees.md
        - 'exportReports': mixcr/reference/mixcr-exportReports.md
        - 'exportQc': mixcr/reference/mixcr-exportQc.md
        - 'postanalysis': mixcr/reference/mixcr-postanalysis.md
        - 'downsample': mixcr/reference/mixcr-downsample.md
        - 'exportPlots': mixcr/reference/mixcr-exportPlots.md
        - 'exportTables': mixcr/reference/mixcr-exportTables.md
        - 'exportPreprocTables': mixcr/reference/mixcr-exportPreprocTables.md
        - 'exportClonesOverlap': mixcr/reference/mixcr-exportClonesOverlap.md
        - 'overlapScatterPlot': mixcr/reference/mixcr-overlapScatterPlot.md
        - 'findAlleles': mixcr/reference/mixcr-findAlleles.md
        - 'findShmTrees': mixcr/reference/mixcr-findShmTrees.md


      - 'Reports':
        - 'mixcr align': mixcr/reference/report-align.md
        - 'mixcr refineTagsAndSort': mixcr/reference/report-refineTagsAndSort.md
        - 'mixcr assemblePartial': mixcr/reference/report-assemblePartial.md
        - 'mixcr extend': mixcr/reference/report-extend.md
        - 'mixcr assemble': mixcr/reference/report-assemble.md
        - 'mixcr assembleContigs': mixcr/reference/report-assembleContigs.md
        - 'mixcr findAlleles': mixcr/reference/report-findAlleles.md
        - 'mixcr findShmTrees': mixcr/reference/report-findShmTrees.md
      - 'RepSeq.io':
        - 'fasta': mixcr/reference/repseqio-fasta.md
        - 'compile': mixcr/reference/repseqio-compile.md
        - 'debug': mixcr/reference/repseqio-debug.md
        - 'filter': mixcr/reference/repseqio-filter.md
        - 'format': mixcr/reference/repseqio-format.md
        - 'fromFasta': mixcr/reference/repseqio-fromFasta.md
        - 'fromPaddedFasta': mixcr/reference/repseqio-fromPaddedFasta.md
        - 'inferPoints': mixcr/reference/repseqio-inferPoints.md
        - 'merge': mixcr/reference/repseqio-merge.md
        - 'stat': mixcr/reference/repseqio-stat.md
        - 'tsv': mixcr/reference/repseqio-tsv.md
      - 'MiTool':
        - 'parse': mixcr/reference/mitool-parse.md
        - 'filter': mixcr/reference/mitool-filter.md
        - 'tag-stat': mixcr/reference/mitool-tag-stat.md
        - 'export-fastq': mixcr/reference/mitool-export-fastq.md
        - 'correct': mixcr/reference/mitool-correct.md
        - 'consensus': mixcr/reference/mitool-consensus.md
        - 'process-fastq': mixcr/reference/mitool-process-fastq.md
        - 'format-fastq': mixcr/reference/mitool-format-fastq.md
        - 'compress-sequence-set': mixcr/reference/mitool-compress-sequence-set.md
      - 'Specifications':
        - 'Tag pattern': mixcr/reference/ref-tag-pattern.md
        - 'Input file name expansion': mixcr/reference/ref-input-file-name-expansion.md
        - 'Gene features and reference points': mixcr/reference/ref-gene-features.md
        - 'Translation rules': mixcr/reference/ref-translation-rules.md
        - 'Mutations encoding': mixcr/reference/ref-mutations-encoding.md
        - 'RepSeq.io JSON format': mixcr/reference/ref-repseqio-json-format.md
